.navbarclass {
    width: 100%;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px 0;
    
}

nav> .nav-menu> ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    --underline-gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(#fff/0.05);
    backdrop-filter: blur(4rem);

}

nav> .nav-menu> ul>li {
    list-style-type: none;
    margin: 0 0 0 50px;
    color: #5D5F79;

}

nav> .nav-menu>ul>li>a {
    color: #5D5F79;
    text-decoration: none;
}


nav> .nav-menu>ul>li>a:hover {
    color: hsl(5, 85%, 63%);
}


@media screen and (min-width:100px) and (max-width: 768px) {
    nav> .nav-expand> ul  {
        position: fixed;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        background-color: #fff;
        /* background: hsl(#fff/0.05);
        backdrop-filter: blur(4rem); */
        text-align: left;
        box-shadow:  rgba(121, 120, 161, 0.24) 0 20px 30px 250px;
        
       
    }
        nav> .nav-expand> ul > li {
        margin: 20px 0;
    }
    nav> .nav-expand> ul > li > a{
        text-decoration: none;
       color: #111;
       font-size: 1.2em;
    }
    nav> .nav-expand> ul > li > a:hover{
       color: hsl(5, 85%, 63%); 
    }
    .hamburger{
        position: absolute;
    }
}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    cursor: pointer;
    transition: 1s ease-in-out;
    position: absolute;
    top:35px;
    right: 60px;
    display: none;
    background: none;
}

@media screen and (max-width:800px) {
    nav> .nav-menu >ul>li {
        margin: 0 0 0 16px;
    }
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav > .nav-menu >ul {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav> .nav-menu>ul {
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 77px);
       
    }

    nav> .nav-menu>ul>li {
        text-align: center;
        margin: 0;
    }

    nav> .nav-menu>ul>li>a {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
    }

    nav> .nav-menu>ul>li:hover {
        background-color: #eee;
    }
}

@media screen and (min-width:150px) and (max-width:500px) {
    .hamburger{
        right: 25px;
    }
}