.App {
  /* text-align: center; */
  margin: 0 110px;
}

@media screen and (max-width: 1240px) {
  .App{
    margin: 0 100px;
  }
}

@media screen and (min-width:870px) and (max-width: 1240px) {
  .App{
    margin: 0 60px;
  }
}

@media screen and (min-width:500px) and (max-width: 870px) {
  .App{
    margin: 0 50px;
  }
}

@media screen and (max-width: 500px) {
  .App{
    margin: 0 15px;
  }
}

/* 1240 to 1470 */